/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Unit-12-task-3.iml
/.idea/vcs.xml
*/.idea
/.idea/workspace.xml
.DS_Store
/.idea/
Notes/validation.py
/design docs/
/Logic testing/
